.body{
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 15px;
    width: 879px;

}
.title{
    text-align: center;
    width: 450px;
    font-size: 50px;
    font-style: italic;
    margin: 0 auto;
    padding: 15px;
}
.main-text{
    text-align: left;
    width: 849px;
    font-size: 30px;
    margin: 0 auto;
    padding: 0 15px 10px;
}
.footer{
    text-align: right;
    width: 849px;
    font-size: 30px;
    font-style: italic;
    margin: 0 auto;
    padding: 0 15px;
}
.i{
    text-decoration: 2px black underline;
}
.u{
    font-style: italic;
}
.iu{
    font-style: italic;
    text-decoration: 2px black underline;
}